html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

#controls {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: 20px;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

button, select, option {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  background-color:white;
  background-image: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
  padding: 4px 12px;
  border: 2px solid #20639b;
  color:#20639b;
  margin-right: 20px;
  cursor: pointer;
}

select {
  padding-right: 50px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .4em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select:invalid {
  color: lightgray;
}

#error {
  color: #ca2508;
  flex: 1;
  align-self: center;
  padding-left: 20px;
  font-size: 2.5rem;
}

#remote-video {
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

#instructions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 3px black;
  justify-content: center;
  color: #acacac;
  font-size: 3rem;
  z-index: 0;
}